.footer {
    clear: both;
  box-shadow: violet;
  position: relative;
  height: 196px;
  margin-bottom: -2rem;


  padding: 0;
  padding-top: 20px;
  margin: auto;
  left: 0;
  bottom: -100px;
  width: 100%;
  background-color: #77002e;
  color: white;
  text-align: center;
}
